/* div{
    background-color: rgba(0, 0, 255, 0.327);
    display: flex;
} */

.first-div{
    background-color: rgba(0, 0, 255, 0.327);
    display: flex;
}


#second-div{
    background-color: rgba(0, 128, 0, 0.313);
    display: flex;
}


.first-div h1{
    color: brown;
}